@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 18);
  max-width: 1600px;
  margin: 0 auto;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
header {
  display: flex;
  position: static;
  /* Nav 1 space-between*/
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
.logo {
  cursor: pointer;
  font-weight: 800;
  font-size: 22px;
  /* Nav 1 remove margin-right*/
  margin-right: auto;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 30px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: rgb(38, 151, 112);
}
button {
  margin-left: 40px;
  padding: 9px 25px;
  /* background-color: rgba(0, 136, 169, 1); */
  border: 0px solid rgb(200, 200, 200);
  background-color: rgb(26, 103, 76);
  color: rgb(255, 255, 255);
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(26, 103, 76, 0.6);
}
